.App {
    min-height: 100vh;       
    display: flex;
    flex-direction: column;
}
.Menu {
  z-index: 2000;
}

.content {
  padding-top: 106px;
  position: relative;
  z-index: 1;
  flex: 1;    
}
