/* Banner Navidad */
.banner-navidad {
    background-image: url("../../../../../public/Image/PromocionNavidad.png");
    width: 100%;
    height: 1165px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Contenedor de texto y bot칩n */
.banner-navidad .banner-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: var(--fondo-8); 
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

.banner-navidad .banner-container p {
    font-size: 1.2rem;
    font-family: var(--font-text);
    color: var(--texto-principal);
    max-width: 70%; 
    margin: 0;
}

.banner-navidad .banner-container button {
    background-color: var(--borde-acento2);
    font-family: var(--font-button);
    color: var(--Marca);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

/* Tablets*/
@media (max-width: 900px) {
    .banner-navidad {
        height: 800px; 
    }

    .banner-navidad .banner-container {
        height: 100px;
        padding: 0 30px;
    }

    .banner-navidad .banner-container p {
        font-size: 1rem;
        max-width: 75%;
    }

    .banner-navidad .banner-container button {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        width: 5rem;
    }
}

/*Secci칩n cumplea침os*/


/* M칩viles*/
@media (max-width: 767px) {
    .banner-navidad {
        height: 600px;
    }

    .banner-navidad .banner-container {
        flex-direction: column;      
        justify-content: center;
        height: auto;
        padding: 10px 20px;
    }

    .banner-navidad .banner-container p {
        font-size: 0.9rem;
        max-width: 100%;
        margin-bottom: 10px;
        text-align: center;          
    }

    .banner-navidad .banner-container button {
        font-size: 0.95rem;
        padding: 0.4rem 0.7rem;
        width: 80%;                 
    }
}
